name: create-tag
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Git tag"
        required: false
        default: "v0"
jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - run: |
          git tag ${{inputs.tag}} -f
          git push origin ${{inputs.tag}} -f
