name: setup-runner
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          path: jhipster-actions
          fetch-depth: 1
      - uses: ./jhipster-actions/setup-runner
        with:
          node-version: 20
          java-version: 17
          npm-version: latest
          npm-cache: true
          maven-cache: true
          gradle-cache: true
      - run: |
          set -x
          node --version
          java -version
          npm --version
        working-directory: ${{ github.workspace }}/app
  test-binary-dir:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          path: jhipster-actions
          fetch-depth: 1
      - uses: actions/checkout@v4
        with:
          path: generator-jhipster
          repository: jhipster/generator-jhipster
          ref: main
          fetch-depth: 1
      - uses: ./jhipster-actions/setup-runner
        with:
          node-version: 20
          binary-dir: '${{ github.workspace }}/generator-jhipster/bin/'
      - run: |
          set -x
          node --version
          npm ci --ignore-scripts
          jhipster.cjs --install-path
        working-directory: ${{ github.workspace }}/generator-jhipster
